body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

nav {
    background-color: rgb(0, 39, 0);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

footer {
    background-color: rgb(0, 39, 0);
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.splash {
    background-color: rgb(192, 226, 192);
    padding: 20px;
    text-align: center;
}

section:not(.splash) {
    padding-left: 20px;
    padding-right: 20px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    color: #002002;
    font-size: 2.5em;
}

img {
    border-radius: 50%;
    border: 5px solid #002116;
}

section p {
    font-size: 1.2em;
    color: #555;
}

.splash p:last-of-type {
    font-style: italic;
    color: #444;
}

hr {
    border: 2px solid #00140d;
    width: 80%;
    margin: 20px auto;
}

h2 {
    font-family: 'Palatino', sans-serif;
    color: #013a27;
}

section p {
    font-size: 1em;
    line-height: 1.6;
    color: #333;
}

ul {
    list-style-type: square;
    margin-left: 20px;
    color: #121111;
}

dl {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 10px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: pink;
    text-decoration: underline;
}

.leadership-link {
    color: #000000; 
    text-decoration: none; 
}

.three-col {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}
.card ul {
    list-style-type: none;
    padding-left: 0;
}
.card ul li {
    margin-bottom: 10px; 
}

.card {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.card img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    border-radius: 0;
}

/* contact page */
.one-col {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.one-col label {
    display: block;
    font-size: 1.2em;
    margin-bottom: 8px;
    color: #333;
}

.one-col input[type="text"],
.one-col input[type="email"],
.one-col textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    box-sizing: border-box;
}

.one-col input[type="submit"] {
    background-color: rgb(0, 39, 0);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    width: 100%;
}

.one-col input[type="submit"]:hover {
    background-color: #004400;
}

.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    text-align: center;
}


